<!-- fragments/posts.html -->
<div th:fragment="postList" xmlns:th="https://www.thymeleaf.org">
    <div class="flex flex-col gap-4 text-white">
        <div class="mb-2" th:each="post : ${posts}">
            <a
                    class="block text-2xl font-bold mb-4 cursor-pointer hover:text-[#db0042] active:text-[#db0042] text-inherit"
                    th:text="${post.title}"
                    th:href="@{'/post/' + ${post.slug}}"
            >
                Post Title
            </a>
            <p class="text-[#b2b2b2]" th:text="${post.excerpt}">
                Post Excerpt
            </p>
            <div class="flex gap-1 mt-2 text-sm text-[#b2b2b2]">
                <p th:text="${post.date}">Post Date</p>
                <span> &nbsp;&middot;&nbsp;</span>
                <p th:text="${post.author}">Author Name</p>
            </div>

        </div>
    </div>
</div>

