<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title >The Cronicle</title>
    <link href="/style.css" rel="stylesheet" />

    <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
</head>
<body>
<header x-data="{ open: false }">
    <nav>
        <div
                class="flex justify-between items-center py-[42px] sm:px-[140px] px-6"
        >
            <a href="/" class="text-[#db0042] font-bold text-xl cursor-pointer">
                The Cronicle
            </a>

            <!-- Desktop Nav -->
            <div class="hidden md:flex gap-4">
                <a
                        href="https://github.com/steve-cse"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-white hover:text-[#db0042] active:text-[#db0042]"
                >
                    <p>Github</p>
                </a>
                <a
                        href="https://x.com/stevebobygeorge"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-white hover:text-[#db0042] active:text-[#db0042]"
                >
                    <p>Twitter</p>
                </a>
                <a
                        href="https://linkedin.com/in/steve-cse"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-white hover:text-[#db0042] active:text-[#db0042]"
                >
                    <p>LinkedIn</p>
                </a>
                <a
                        href="mailto:stevebobygeorge@proton.me"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-white hover:text-[#db0042] active:text-[#db0042]"
                >
                    <p>Email</p>
                </a>
            </div>

            <!-- Mobile Menu Button -->
            <div class="md:hidden">
                <button @click="open = !open" class="text-white focus:outline-none">
                    <!-- Hamburger Icon -->
                    <svg
                            x-show="!open"
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-6 h-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"
                        />
                    </svg>
                    <!-- Close Icon -->
                    <svg
                            x-show="open"
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-6 h-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                        />
                    </svg>
                </button>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div
                x-show="open"
                x-transition
                class="md:hidden flex flex-col gap-4 pb-6 px-6"
        >
            <a
                    href="https://github.com/steve-cse"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-white hover:text-[#db0042] active:text-[#db0042]"
            >
                <p>Github</p>
            </a>
            <a
                    href="https://twitter.com/stevebobygeorge"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-white hover:text-[#db0042] active:text-[#db0042]"
            >
                <p>Twitter</p>
            </a>
            <a
                    href="https://linkedin.com/in/steve-cse"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-white hover:text-[#db0042] active:text-[#db0042]"
            >
                <p>LinkedIn</p>
            </a>
            <a
                    href="mailto:stevebobygeorge@proton.me"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-white hover:text-[#db0042] active:text-[#db0042]"
            >
                <p>Email</p>
            </a>
        </div>
    </nav>
</header>

<div
        class="flex flex-col items-center justify-center min-h-[50dvh] text-center"
>
    <h1 class="text-4xl font-extrabold text-white mb-4">404 - Not Found</h1>
    <p class="text-white mb-4">The page you're looking for doesn't exist.</p>
    <a
            href="/"
            th:href="@{/}"
            class="text-[#b2b2b2] hover:text-white active:text-white"
    >Back to Home</a
    >
</div>


</body>
</html>
