<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Post</title>
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <link href="output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/monokai.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

    <script>hljs.highlightAll();</script>
</head>
<!--<body class="bg-[#121517] text-white px-[140px] py-12" th:utext="${post}">-->
<body>
<h1>This is</h1>
<div th:utext="${post}">

</div>
</body>
</html>